.itemsBlock{
    display: flex;

}

.arrow-back{
    background-color: white;
    padding: 10px;
    color:crimson;
    position: absolute;
    border-color: darkblue;
    border-width: 2px;
}

.item{
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
}

.item-details{
    display: flex;
    justify-content: space-around;
}
.image{
    width: 250px;
    height: 200px;
    object-fit: contain;
}
.titles{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.title{
    font-size: 15px;
}
.sub-title{
    font-size: 10px;
    color: darkgrey;
}
.order-button{
    border: none;
    color: rgb(209, 26, 26);
    font-size: 11px;
}
.order-button :hover{
    cursor: pointer;
}
