.itemsBlock{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 300px;

}
.item{
    margin-right: 10px;
}
.item-details{
    display: flex;
}
.image{
    width: 250px;
    height: 200px;
    object-fit: contain;
}
.titles{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 15px;
}
.sub-title{
    font-size: 10px;
    color: darkgrey;
}
.order-button{
    border: none;
    color: rgb(209, 26, 26);
    font-size: 11px;
}
.order-button :hover{
    cursor: pointer;
}
