.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    border: 1px blue solid;
  }
  .menu-item.active {
    border: 1px green solid;
  }
  
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
  }
  .arrow-prev{
    font-size: 30px;
    background-color: white;
    color: tomato;
    border-radius: 50%;
    padding:2px 10px;
  }
  .arrow-next{
    font-size: 30px;
    background-color: white;
    color: tomato;
    border-radius: 50%;
    padding:2px 10px;
  }
  .itemsBlock{
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    width: 90%;

}
.arrowAndItems{
    display: flex;
}

.arrow-back{
    float: left;
    background-color: white;
    padding: 10px;
    color:crimson;
   
    border-color: darkblue;
    border-width: 2px;
}
.arrow-forward{
    float: right;
    background-color: white;
    padding: 10px;
    color:crimson;
    
    border-color: darkblue;
    border-width: 2px;
}

.item{
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 5px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
}

.item-details{
    display: flex;
    justify-content: space-around;
}
.image{
    width: 250px;
    height: 200px;
    object-fit: contain;
}
.titles{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.title{
    font-size: 15px;
}
.sub-title{
    font-size: 10px;
    color: darkgrey;
}
.order-button{
    border: none;
    color: rgb(209, 26, 26);
    font-size: 11px;
}
.order-button :hover{
    cursor: pointer;
}
